{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/interface.css' %}" />
        <title>DJINN</title>
    </head>
    <body>
        <div class="log__container">
        </div>
        <script>
            let a = [
                {
                    'type': 'good',
                    'message': 'good example'
                },
                {
                    'type': 'error',
                    'message': 'error example'
                },
                {
                    'type': 'warning',
                    'message': 'warning example'
                }
            ]

            const renderLog = (el) => {
                const container = document.querySelector( '.log__container' )

                // create row
                const row = document.createElement( 'div' )

                // create timestamp
                const timestamp = document.createElement( 'span' )

                if (el.type == 'good') {
                    timestamp.classList.add( 'text__green' )
                } else
                if (el.type == 'warning') {
                    timestamp.classList.add( 'text__yellow' )
                } else
                if (el.type == 'error') {
                    timestamp.classList.add( 'text__red' )
                }

                const date = new Date(Date.now());
                const formattedDate = `[${date.getMonth()}-${date.getDate() + 1}-${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}] `

                timestamp.innerText = formattedDate

                row.appendChild( timestamp )
                

                // create info
                const msg = document.createElement( 'span' )
                msg.classList.add( 'text__gray' )
                msg.innerText = el['message']

                row.appendChild( msg )
      
                container.appendChild( row )
            }

            

            a.forEach((el) => renderLog( el ))
        </script>
    </body>
</html>