html,
body {
    background-color: rgb(14, 14, 14);
    margin: 0;
    padding: .5rem;
}

.text__green,
.text__red,
.text__yellow,
.text__gray {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

.text__green {
    color: rgb(103, 219, 99);
}

.text__red {
    color: rgb(216, 66, 66);
}

.text__yellow {
    color: rgb(235, 217, 85);
}

.text__gray {
    color: rgb(175, 175, 175);
}

.prompt__container {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 4rem;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100vw;
}

.prompt {
    background-color: rgb(40, 40, 40);
    border: none;
    border-radius: .5rem;
    color: rgb(192, 192, 192);
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    height: 2rem;
    width: 98vw;
}

.prompt:focus {
    outline: none;
}