:root {
    --white: rgb(255, 253, 251);
    --white-gray: rgb(248, 245, 241);
    --dark-gray: rgb(158, 155, 150);
    --box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

html,
body {
    margin: 0;
    background-color: var(--white-gray);
}

.header {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    height: 2.25rem;
    justify-content: left;
    width: 100vw;
}

.header__title {
    color: var(--dark-gray);
    font-family: 'Nunito Sans';
    font-size: 1rem;
    margin-left: 2rem;
}